# --- Python cache ---
__pycache__/
*.py[cod]
*.pyd
*.so

# --- Virtual environments ---
.venv/
venv/
env/

# --- Build & Packaging ---
*.egg-info/
dist/
build/

# --- Streamlit ---
.streamlit/*credentials.toml
.streamlit/*secrets.toml

# --- Logs ---
app/logs/
logs/
*.log

# --- IDE ---
.vscode/
.idea/

# --- OS ---
.DS_Store
Thumbs.db

# --- Jupyter ---
.ipynb_checkpoints/
